// Global variables
$primary-color: #febc1b;
$secondary-color: #4885ee;
$background-color: #fff9f0;
$text-white: #ffffff;

// Global mixins
@mixin text-stroke($width, $color) {
  -webkit-text-stroke: $width $color;
  text-stroke: $width $color;
  paint-order: stroke fill;
}

.grandstander-font {
  font-family: 'Grandstander', cursive;
}

.swiperButtonPrev {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 1px solid #f11602;
  background: #fff;
  left: 40px;
}

.swiperButtonNext {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 40px;
  border: 1px solid #f11602;
  background: #fff;
  right: 40px;
}
