/* Grandstander Font Face Definitions */
@font-face {
  font-family: 'Grandstander';
  src: url('/fonts/Grandstander/Grandstander-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grandstander';
  src: url('/fonts/Grandstander/Grandstander-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Albert Sans Font Face Definitions */
@font-face {
  font-family: 'Albert Sans';
  src: url('/fonts/Albert_Sans/AlbertSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albert Sans';
  src: url('/fonts/Albert_Sans/AlbertSans-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Alternative: If you prefer to use static font files for specific weights */
/* Grandstander Static Fonts */
@font-face {
  font-family: 'Grandstander';
  src: url('/fonts/Grandstander/static/Grandstander-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grandstander';
  src: url('/fonts/Grandstander/static/Grandstander-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grandstander';
  src: url('/fonts/Grandstander/static/Grandstander-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Albert Sans Static Fonts */
@font-face {
  font-family: 'Albert Sans';
  src: url('/fonts/Albert_Sans/static/AlbertSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albert Sans';
  src: url('/fonts/Albert_Sans/static/AlbertSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}